.App {
    background-color: #f3f3f3;
    color: #222223;
    min-height: 100vh;
}

.card-body, ::after, ::before {
    color: #000000;

    background-color: #ffffff;
    /*min-width: 200px;
    max-width: fit-content;*/
    /* border things */
    box-sizing: border-box;
    border-width: 1rem;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 0.5rem;
}

.qdp {
    align-self: center;
}

.Tags {
    color: darkslategray;

}

.card-title {
    color: #222223;
    text-decoration: none;
}
.question {
    cursor: pointer;
}

.box-padding {
    padding: 0.3rem 1rem;

}

.grauGroß{
    color: darkslategray;
    font-size: x-large;
    font-weight: bold;
}

.Time {
    text-align: right;
    color: darkslategray;
    font-size: small;
}

.user-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown-content{
    display: none;
    right: 0;
    position: absolute;
}
.dropdown:hover .dropdown-content{
    display: block;
}
img {
    max-width: 100%;
}

.username {
    color: #49a0cc;
}

.card {
    background-color: #f3f3f3;
}

.items-start {
    align-items: flex-start;
}

.flex {
    display: flex;
}

.zurückButton {
    border: none;
    color: #f3f3f3;
    font-size: medium;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    cursor: none;
    margin-right: 5px;
    margin-bottom: 5px;
}
.ausgewählt{
    background-color: #8b4d40;
}
.hilfreich-button{
    border: none;
    color: #f3f3f3;
    font-size: medium;
    padding: 0.8rem 0.7rem;
    border-radius: 0.3rem;
}
button{
    background-color: #49a0cc;
}
button.hover{
    background-color: #316d8b;
    cursor: none;
}
.shadow-lg {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}
