.App {
    background-color: #f3f3f3;
    color: #222223;
    min-height: 100vh;
}

.card-body, ::after, ::before {
    color: #000000;

    background-color: #ffffff;
    /*min-width: 200px;
    max-width: fit-content;*/
    /* border things */
    box-sizing: border-box;
    border-width: 1rem;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 0.5rem;
}
.qdp{
    align-self: center;
}
.Tags{
    color: darkslategray;

}
.card-title{
    color: #222223;
    text-decoration: none;
}
.card-title:hover{
    text-decoration: underline;
}
.card{
    cursor: pointer;
}

.box-padding {
    padding: 1.5rem 1rem;
}
.antwortenAnzahl{
    color: darkslategray;
    font-size: large;
}
.Time{
    text-align: right;
    color: darkslategray;
    font-size: small;
}
.username{
    color: #49a0cc;
}
.card {
    background-color: #f3f3f3;
}

.items-start {
    align-items: flex-start;
}

.flex {
    display: flex;
}
.zurückButton{
    background-color: #49a0cc;
    border: none;
    color: #f3f3f3;
    font-size: medium;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
}
.shadow-lg {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}
